<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        div {
            height: 40px;
            width: 200px;
            /* 第一种 */
            -webkit-user-select: none;
        }
        /* 第二种，使用after||before */
        /* div::after{content:"select me !"} */
    </style>
</head>

<body>
    <div>select me!</div>
</body>

</html>
<script>
</script>